.mdl-layout__header > .mdl-layout__header-row > .mdl-layout-title {
    font-family: 'Montserrat', sans-serif;
}

.event-card > .mdl-card__title > .mdl-card__title-text {
    font-family: 'Montserrat', sans-serif;
}

.results-flex {
    display: flex;
    justify-content: space-around;
}



  