body{
    margin:0px auto;

}

.core-toolbar-tall {
    height: 261px;	
    width: 375px;
}

.rectangle-1 {	
    height: 261px;	
    width: 375px;	
    background-color: #000000;
}

.the-main-thing {
    height: 54px;	
    width: 279px;	
    color: #FFFFFF;	
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;	
    font-weight: bold;	
    line-height: 100px;	
    text-align: center;
    margin:0px auto;
}

.text{
    height: 23px;	
    width: 343px;	
    color: #FFFFFF;	
    font-family: "Istok Web", sans-serif;;	
    font-size: 16px;	
    line-height: 120px;	
    text-align: center;
}
.search {	
    height: 48px;	
    width: 334px;
    margin:0px auto;
    margin-top:100px;
}


.search-bg {	
    height: 48px;	
    width: 334px;	
    border-radius: 2px;	
    background-color: #FAFAFA;	
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}

.search2 {	
    height: 24px;	
    width: 24px;
}

.shape{
    height: 17.49px;	
    width: 17.49px;	
    opacity: 0.54;	
    transform: scaleY(-1);
}

.material-icons{
    margin-left:10px;
    margin-top:10px;
}

.mdl-card__actions {
    display: flex;
}
