.mdl-card {
    margin: 8px 8px 8px 8px
}
.mdl-card__title {
    background-color: #000000;
}

.card-h3, h5 {
    color: white;
}

.mdl-card__actions {
    display: flex;
}

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
    padding-right: 0;
  }

.header-h1, .header-h3 {
    color: white;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.page-content {
    overflow: auto;
}

  